.Section {
  padding-bottom: 100vh;
}

.navigation {
  position: fixed;
  left: 30px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navigation a {
  text-decoration: none;
  width: 30px;
  height: 5px;
  display: block;
  margin-end: auto;
  margin-start: auto;
  border: 2px #efa7de solid;
  overflow: hidden;
  margin-before: 0.5em;
  margin-after: 0.5em;
}

.navigation li {
  margin-bottom: 35px;
  list-style: none;
}

.isActive {
  width: 50px !important;
  border-color: #efa7de !important;
  transition: width .3s ease-in-out;
}
