.AboutmeContainer {
	background: #74b9ff;
	height: 100vh;
	z-index: 200;
}

.JorilingImage {
	background-image: url('../../assets/images/joriling.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 300px;
	height: 300px;
	display: inline-block;
}

.AboutmeContainer {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.AboutDesigner, .AboutImage, .AboutCoder {
	display: inline-block;
	width: 30%;
	margin-top: 10%
}

.AboutImage {
	
}

.section-title {
  color: #344C6C;
  position: absolute;
  right: 5%;
  padding-top: 2%;
  padding-right: 5%;
  border-bottom: 5px solid currentColor;
  display: inline-block;
    line-height: 1.5;
}